spring:
  profiles:
    active: ${SPRING_PROFILE:local}
  application:
    name: tis-revalidation-connection
  jackson:
    serialization.write_dates_as_timestamps: false
    serialization.indent_output: true
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
    ssl.enabled: ${RABBITMQ_USE_SSL:false}
  elasticsearch:
    rest:
      uris: ${ES_URLS:http://localhost:9200}
  data:
    mongodb:
      uri: mongodb://${MONGODB_USERNAME:root}:${MONGODB_PASSWORD:password}@${MONGODB_HOST:localhost}:${MONGODB_PORT:27017}/${MONGODB_DATABASE:revalidation}?${MONGODB_PARAMS:authSource=admin&authMechanism=SCRAM-SHA-1}

server:
  port: 8090
  servlet:
    context-path: /connection

app:
  error:
    exchange: "ex.error"
    limit.retries: true

  reval:
    essync.batchsize: ${ESSYNC_BATCH_SIZE:5000}

  rabbit:
    reval:
      exchange: ${REVAL_RABBIT_EXCHANGE:reval.exchange}
      routingKey:
        gmcsync: ${REVAL_RABBIT_GMCSYNC_ROUTING_KEY:reval.gmcsync}
        connection.manualupdate: ${CONNECTION_ROUTING_KEY:reval.connection.manualupdate}
        connectionlog.essyncdata: ${CONNECTIONLOG_ESSYNCDATA_ROUTING_KEY:reval.routingkey.connectionlog.essyncdata}
      queue:
        connection.connectionlog: ${CONNECTION_LOG_QUEUE:reval.queue.connection.connectionlog}
        connectionlog.essyncstart: ${CONNECTION_LOG_ESSYNCSTART_QUEUE:reval.queue.connectionlog.essyncstart.connection}

  gmc:
    url: ${GMC_CONNECT_URL:http://localhost:8091/GMCConnectMock2020/GMCWebServices}
    soapActionBase: ${GMC_SOAP_ACTION_BASE:https://webcache.gmc-uk.org/GMCWebServices/}
    gmcUsername: ${GMC_USER_NAME:guest}
    gmcPassword: ${GMC_PASSWORD:guest}

sentry:
  dsn: ${SENTRY_DSN:}
  environment: ${SENTRY_ENVIRONMENT:}
